.list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  outline: 2px solid red;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  width: 40px;
  height: 40px;

  border: none; 
  border-radius: 50%;
}

.button:hover {
color: white;
background-color: yellow;
}

.button-icon {
width: 20px;
height: 20px;
fill: currentColor;
}

